/*====================================================
                 GENERIC
======================================================*/
body,
html {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(#b5dd92, #e1fdac); */
  background-color: #e1fdac;
}

.page-section {
  padding: 8rem 0;
}

a {
  color: green;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: green;
}

/* .text-lightgreen {
  color: #B6E264 !important;
} */


hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #88AD43;
}

hr.light {
  border-color: #a4f783;
}


/*====================================================
                BUTTONS 
======================================================*/
.cust-btn {
  color: #3c3c3c;
  background: #baffa8;
}

.btn {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

/*====================================================
                NAVIGATION BAR 
======================================================*/
#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #17b62c;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #17b62c !important;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #17b62c;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #17b62c;
  }
}

/*====================================================
                   HEADER 
======================================================*/

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../../img/sprout-cover-a.png");
  background-repeat: repeat-y;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

/*====================================================
                ABOUT
======================================================*/
.bg-primary {
  background-color:#76965a !important
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #436625 !important;
}

.text-green-50 {
  /* color: rgba(186, 255, 178, 1) !important; */
  color: rgb(19, 43, 16) !important;
}

/*====================================================
                   SOCIAL 
======================================================*/
.fa {
  color: #3c3c3c;
}

.fb:hover {
  color: #3b5998;
  transform: scale(1.5);
}

.twitter:hover {
  color: #1da1f2;
  transform: scale(1.5);
}

.insta:hover {
  color: #e1306c;
  transform: scale(1.5);
}

.mail:hover{
  color: #c71610;
  transform: scale(1.5);
}